.home button {
    padding: 10px 50px;
    border-radius: 10px;
}

.home .info {
    display: flex;
    justify-content: center;
    background-color: #9AB6C9;
    color: #332633;
}

.home .info div {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    max-width: 750px;
    margin: 0 50px;
}

.home .title {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
