@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 90%;
    background-color: #FFDAC1;
    border-radius: 50px;
    margin: 0.5vh 5%;
    height: 4vh;
    transition: background-color 300ms linear;
    color: #332633;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

main > section {
    background-color: #87CA70;
    margin: 5vh;
    border-radius: 10px;
    color: whitesmoke;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

.transparent {
    background-color: transparent;
}
